<div>
        <input type="text" placeholder="Search...">
        <button>Search</button>
        <!-- <div *ngIf="message">{{message}}</div> -->
        <h2>Content with no type</h2>
        <app-content-card *ngFor="let item of contentItems | filterContent:''" [item]="item"></app-content-card>
        <h2>Content with type: HardBound</h2>
        <app-content-card *ngFor="let item of contentItems | filterContent:'HardBound'" [item]="item">
        </app-content-card>
        <h2>Content with type: SoftBound</h2>
        <app-content-card *ngFor="let item of contentItems | filterContent:'SoftBound'" [item]="item">
        </app-content-card>
</div>