
// // Custom Theming for Angular Material
// // For more information: https://material.angular.io/guide/theming
// @use '@angular/material' as mat;
// // Plus imports for other components in your app.

// // Include the common styles for Angular Material. We include this here so that you only
// // have to load a single css file for Angular Material in your app.
// // Be sure that you only ever include this mixin once!
// @include mat.core();

// // Define the palettes for your theme using the Material Design palettes available in palette.scss
// // (imported above). For each palette, you can optionally specify a default, lighter, and darker
// // hue. Available color palettes: https://material.io/design/color/
// $N_Salauddin_MyFavouriteBooks-primary: mat.define-palette(mat.$indigo-palette);
// $N_Salauddin_MyFavouriteBooks-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// // The warn palette is optional (defaults to red).
// $N_Salauddin_MyFavouriteBooks-warn: mat.define-palette(mat.$red-palette);

// // Create the theme object. A theme consists of configurations for individual
// // theming systems such as "color" or "typography".
// $N_Salauddin_MyFavouriteBooks-theme: mat.define-light-theme((
//   color: (
//     primary: $N_Salauddin_MyFavouriteBooks-primary,
//     accent: $N_Salauddin_MyFavouriteBooks-accent,
//     warn: $N_Salauddin_MyFavouriteBooks-warn,
//   )
// ));

// // Include theme styles for core and each component used in your app.
// // Alternatively, you can import and @include the theme mixins for each component
// // that you are using.
// @include mat.all-component-themes($N_Salauddin_MyFavouriteBooks-theme);


// // // Custom Theming for Angular Material
// // // For more information: https://material.angular.io/guide/theming

// // // Plus imports for other components in your app.

// // // Include the common styles for Angular Material. We include this here so that you only
// // // have to load a single css file for Angular Material in your app.
// // // Be sure that you only ever include this mixin once!


// // // Define the palettes for your theme using the Material Design palettes available in palette.scss
// // // (imported above). For each palette, you can optionally specify a default, lighter, and darker
// // // hue. Available color palettes: https://material.io/design/color/
// // $N_Salauddin_MyFavouriteBooks-primary: mat.define-palette(mat.$indigo-palette);
// // $N_Salauddin_MyFavouriteBooks-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// // // The warn palette is optional (defaults to red).
// // $N_Salauddin_MyFavouriteBooks-warn: mat.define-palette(mat.$red-palette);

// // // Create the theme object. A theme consists of configurations for individual
// // // theming systems such as "color" or "typography".
// // $N_Salauddin_MyFavouriteBooks-theme: mat.define-light-theme((
// // color: (
// //     primary: $N_Salauddin_MyFavouriteBooks-primary,
// //     accent: $N_Salauddin_MyFavouriteBooks-accent,
// //     warn: $N_Salauddin_MyFavouriteBooks-warn,
// // )
// // ));

// // // Include theme styles for core and each component used in your app.
// // // Alternatively, you can import and @include the theme mixins for each component
// // // that you are using.
// // @include mat.all-component-themes($N_Salauddin_MyFavouriteBooks-theme);

// //@import '~@angular/material/theming';

// @import '../node_modules/@angular/material/';

// // Define a custom theme
// $primary-color: mat-palette($mat-indigo);
// $accent-color: mat-palette($mat-pink, A200, A100, A400);
// $warn-color: mat-palette($mat-red);

// $theme: mat-light-theme($primary-color, $accent-color, $warn-color);

// // Apply the custom theme to the application
// @include angular-material-theme($theme);







/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '../../node_modules/@angular/material/_theming.scss';
@include mat-core();
@import './theme';

h1 {
    text-align: center;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
h1 {
    color: mat-color($my-primary, 700);
    margin-bottom: 20px;
}

.mat-card {
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.mat-card {
    border: 2px solid mat-color($my-primary);
    background-color: mat-color($my-primary, 50);
    box-shadow: none;
}

.mat-card:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.mat-custom-warn {
    color: mat-color($my-warn);
}

html {
    background-color: mat-color($my-primary, 50);
}

.mat-button {
    background-color: mat-color($my-accent);
    color: #fff;
    padding: 8px 16px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.mat-button:hover {
    background-color: mat-color($my-accent, hover);
}

.message-container {
    text-align: center;
    color: white;
    max-width: 500px;
    margin: auto;
}

.message{
    background-color: mat-color($my-primary);
}

.centered-form-field {
    display: flex;
    justify-content: center;
    align-items: center;

}

.centered-form-field mat-form-field {
    max-width: 500px;
    width: 100%;
}


