<div class="content-card">
    <div class="content-card-image content-card-item" >
        <img src="{{item.image}}" (click)="log()"  alt="{{item.title}}"/>
    </div>
    <div class="content-card-content">
        <h2 class="content-card-item">{{item.title}}</h2>
        <p class="content-card-item">{{item.description}}</p>
        <p class="content-card-item">Creator: {{item.creator}}</p>
        <p class="content-card-item">Type: {{item.type}}</p>
        <p class="content-card-item">Tags: {{item.tags.join(', ')}}</p>
    </div>
</div>